.card__title{
  font-size: 30pt;

}
.card__data{
  height: 100%;
  background: #e6e6e6;
  margin-top: 20px;
  border-radius: 15px 15px 5px 5px;
}
.card__container{
  background-color: #29292E;
  color: #fff;
  padding-top: 15px;
  text-align: center;
  border-radius: 15px 15px 5px 5px;
}
