.navbar{
display: flexbox;
align-items: center;
padding-bottom: 10px; /*controla p baixo da navbar */
}

.navbar__container{
  background: rgba(29, 28, 68, 0.94);
  color: #fff;
  font-weight: lighter;
  padding: 20px 20px; /*o 1 controla altura o 2 largura */

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__brand{
  display: flex;
  align-items: center;
}
.navbar__brand img{
  margin-right: 15px; /*espacamento entre logo e nome */
}
.navbar__title{
  display: flex;
  justify-self: center;
}
