.App {  
    display: grid;
    padding: 30px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 100px;
    column-gap: 30px;
    grid-template-areas:
    "card1 card2 card4"
    "card3  card3 card4";
    height: 100vh;
  }
  
  .div1 { 
    grid-area: card1;
   }
  
  .div2 { 
    grid-area: card2;
   }
  
  .div3 {
    grid-area: card3;
  }
  .div4 {
    grid-area: card4;
  }
  